<div class="row">
  <div class="col-md-6">
    <%= form_tag url_for(controller: 'client', action: :create), :html => { :role => "form"} do |f| %>
      <%= label_tag :client_name %>
      <%= text_field_tag :client_name, nil, :class => "form-control", :placeholder => "Company Name", :required => true %>

      <%= label_tag :first_name %>
      <%= text_field_tag :first_name, nil, :class => "form-control", :placeholder => "First name" %>

      <%= label_tag :last_name %>
      <%= text_field_tag :last_name, nil, :class => "form-control", :placeholder => "Last name" %>  

      <%= label_tag :phone %>
      <%= text_field_tag :phone, nil, :class => "form-control", :placeholder => "(xxx) xxx-xxxx" %>


      <%= label_tag :email %>
      <%= text_field_tag :email, nil, :class => "form-control", :placeholder => "Email address" %>

      <p>
        <h4><%= button_tag "Add Project", :class => "btn btn-primary btn-xs", :onclick => "$('.project-info').slideToggle();" %> <small>( Optional )</small></h4>
      </p>

      <div class="project-info">
        <%= label_tag :project_name %>
        <%= text_field_tag :project_name, nil, :class => "form-control", :placeholder => "Project Name" %>

        <%= label_tag :due_date %>
        <%= text_field_tag :due_date, nil, :class => "form-control", :placeholder => "Due Date" %>
        <br/>
      </div>

      <%= submit_tag "Create", :class => "btn btn-lg btn-success btn-block" %>

    <% end %>
  </div>
  <div class="col-md-6">
    <h3>Tell us a bit about your next client!<small>.....</small></h3>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
  </div>
</div